@charset "EUC-KR";

/* 폰트 정의 */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../font/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../font/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../font/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../font/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/*색상(메인은 m, 서브는 s)*/
:root {
  --main: #F0F3F1;
  --m1: #8FB098;
  --m2: #DFEED8;
  --m3: #646F58;
  --s1: #FFAEBC;
  --s2: #FFF5E1;
  --s3: #A0E7E5;
  --font: 'NanumSquareRound', sans-serif;
}
/*링크밑줄제거 */
a {
  text-decoration: none;
}
