<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cardgarden.benefitDetail">
  
  <select id="selectAll" resultType="BenefitDetailDTO">
    select * from BenefitDetail
  </select>
  <resultMap id="CardBenefitRankMap" type="com.cardgarden.project.model.cardDetail.CardBenefitRankDTO">
	<result column="amount_rank" property="amount_Rank" />
	<association property="benefitDetailDTO" javaType="com.cardgarden.project.model.benefitDetail.BenefitDetailDTO">
		<id column="benefitdetail_id" property="benefitdetail_id" />
		<result column="benefitdetail_name" property="benefitdetail_name" />
		<result column="benefitdetail_image" property="benefitdetail_image"/>
	</association>
	<association property="userConsumptionPatternDetailDTO" javaType="com.cardgarden.project.model.userConsumptionPatternDetail.UserConsumptionPatternDetailDTO">
	    <result column="amount" property="amount" />
	</association>
  </resultMap>
	<select id="selectPatternCardID" resultMap="CardBenefitRankMap">
		SELECT
			bd.benefitdetail_id,
			bd.benefitdetail_name,
			ucp.amount,
			bd.benefitdetail_image,
			RANK() OVER (ORDER BY ucp.amount DESC) AS amount_rank
		FROM CardBenefitDetail cbd
			INNER JOIN BenefitDetail bd
				ON bd.benefitdetail_id = cbd.benefitdetail_id
			INNER JOIN UserConsumptionPatternDetail ucp
				ON ucp.benefitcategory_id = bd.benefitcategory_id
		WHERE ucp.pattern_id = #{patternid}
			AND cbd.card_id = #{cardid}
	</select>

 </mapper>