<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
이부분은 칼럼이름과 DTO field 이름이 다른 경우 resultMap 정의 
<resultMap id="deptResult" type="deptDTO">
	<result property="department_id" column="department_id" />
	<result property="department_name" column="department_name" />
	<result property="manager_id" column="manager_id" />
	<result property="location_id" column="location_id" />
</resultMap>
 -->

<mapper namespace="com.firstzone.card">
	<select id="selectById" parameterType="int" resultType="DetailcardDTO">
		select *
		from Card
		where card_id = #{cardid}
	</select>
	
	<select id="selectDetailByID" parameterType="int" resultType="cardDetailDTO">
		select *
		from CardBenefitDetail cbd
			inner join BenefitDetail bd
				on cbd.benefitdetail_id = bd.benefitdetail_id
		where card_id = #{cardid};
	</select>
	<select  id="selectLike" parameterType="map" resultType="DetailcardDTO">
		SELECT 
		c.*, 
		CASE WHEN lc.user_id IS NOT NULL THEN 1 ELSE 0 END AS liked
		FROM Card c
		LEFT JOIN LikeCard lc 
			ON c.card_id = lc.card_id 
			AND lc.user_id = #{userId}
		WHERE c.card_id = #{cardId}
		
	</select>
</mapper>

	

