<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cardgarden.custommake">

  <!-- 배경이미지 불러오기 -->
  <select id="selectBackgroundList" resultType="CustomAssetDTO">
    SELECT asset_id, asset_brand, asset_type, asset_no, asset_name
    FROM CustomAsset
    WHERE asset_type = 'background'
  </select>
<!-- 내가 가진 것들 -->
	<select id="selectOwnedBackgroundList" parameterType="int" resultType="int">
	    SELECT asset_id
	    FROM OwnedAsset
	    WHERE user_id = #{userId}
	</select>

</mapper>
