<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- model이 달라고 동일한 id로 사용시 중복될 수 있으므로 namespace로 명칭 구별 -->
<mapper namespace="com.cardgarden.sample">

  <!-- 이 부분은 칼럼 이름과 DTO field 이름이 다른 경우 resultMap 정의 -->
  <resultMap id="sampleResult" type="sampleDTO">
    <result property="id" column="id" />
    <result property="name" column="name" />
  </resultMap>

  <!-- 원래는 typeAliases 대신 "com.shinhan.spring.model.dept.DeptDTO 써줘야 함 -->
  <!-- MyBatis가 select 결과를 읽어서 resultType 객체를 생성 : 기본 생성자가 없으면 오류~! -->
  <select id="selectAll" resultType="sampleDTO">
    select * from sample_table
  </select>
  
  <select id="selectById" parameterType="int" resultType="sampleDTO">
    select * from sample_table where id = #{id}
  </select>
  
  <insert id="insert" parameterType="sampleDTO">
    insert into sample_table(id, name) values(#{id}, #{name})
  </insert>
  
  <update id="update" parameterType="sampleDTO">
    update sample_table set name = #{name} where id = #{id}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from sample_table where id = #{id}
  </delete>
  
</mapper>